{% include "base.html"%}


{% block content %}

<main>
    <div class="container" >
        <form method="POST" class="d-flex justify-content-between">
            <div style="width:35%" class="input-group mb-2 shadow-sm mt-3 mb-3">
                <button type="submit" class="input-group-text" id="basic-addon1">
                    <i class="bi bi-search"></i>
                </button>
                <input type="text" class="form-control" name="query" placeholder="Search Country" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>





            <div style="width:35%" class="input-group mb-2 shadow-sm mt-3 mb-3">

                <select class="form-select" name="continent_filter">
                    <option value="">Filter by region</option>
                    <option value="Africa">Africa</option>
                    <option value="Americas">Americas</option>
                    <option value="Europe">Europe</option>
                    <option value="Asia">Asia</option>
                    <option value="Oceania">Oceania</option>
                </select>
            </div>




            
        </form>
        <div>
            <div class="row">

                {% for country in countries %}
                <div class="col-lg-4, col-md-3 col-sm-6 col-12">
                    <a href="/country/{{country['name']['common']|lower}}">
                        <article class="card mb-5" >
                            <img style="height:200px" src="{{country['flags']['png']}}" class="card-img-top"
                                alt="{{country['flags']['alt']}}">
                            <div class="card-body">
                                <strong>
                                    <h5 class="card-title">{{country["name"]['common']}}</h5>
                                </strong>
                                <h6>...........</h6>
                                <h6 class="card-title">POPULACJA: {{country["population"]}} </h6>
                                <p class="card-text">REGION : {{country["region"]}}</p>
                                <p class="card-text">STOLICA : {{country["capital"]}}</p>

                                {%if country['capital'] is defined %}
                                <p class="card-text">Capital: {{country['capital'][0]}}</p>
                                {% else %}
                                <p class="card-text">Capital: ?</p>
                                {% endif %}

                            </div>
                        </article>
                    </a>
                </div>
                {% endfor %}
            </div>


        </div>

</main>



{% endblock %}